<div class="container"><br><br>
  <% unless flash.empty? %>
    <% flash.each do |key, value| %>
      <div class="alert alert-warning"><%= value %></div> 
    <% end -%>
  <% end -%>
  <h1>New event</h1>

  <%= render 'form' %>

  <%= link_to 'Back', root_path %>
</div>